<section id="grad" class="hero is-fullheight">
    <div class="container is-fluid has-text-centered">
        <h1 class="title topHeading">Congratulations {{first_name}}!</h1>
        <h1 class="title topHeading">You accomplished your goal!</h2><br>

        <!-- Go back button -->
                <div
                    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd topHeading">
                </div>

                <button id="back-btn" class="button goBack">Go Back</button>
    </div>

     
</section>

<script src="./js/congrats.js"></script>

