  <section id="grad" class="hero is-fullheight">
    <div class="hero-body container">
      <div class="container is-fullhd">
        <div class="has-text-centered">
          <h1 class="title">
            Habits Tracker
          </h1>
          <p class="subtitle">
            Keep Track of Your Daily Habits.
          </p>
          <button id="signIn" class="button is-light mr-2">Sign-In</button>
          <button id="createAcc" class="button is-light">Create An Account</button>
          <br><br>
        </div>
      </div>
    </div>
  </section>
  </footer>
