<section id= "grad" class="hero is-fullheight">
    <div class="container is-fluid has-text-centered">
        <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd topHeading">
            <h1 class="title">
                Create Account
            </h1>
        </div>
    <hr>
    <div class="container">
        <form id="sign-up">
            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
                <div class="column ">
                    <label for="firstname-input-signup"> First Name </label>
                    <input class="input is-rounded" type="text" placeholder="First Name" id="firstname-input-signup">
                </div>
                <div class="column">
                    <label for="lastname-input-signup"> Last Name </label>
                    <input class="input is-rounded" type="text" placeholder="Last Name" id="lastname-input-signup">
                </div>
            </div>
            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
                <div class="column ">
                    <label for="email-input-signup"> Email </label>
                    <input class="input is-rounded" type="text" placeholder="Email" id="email-input-signup">
                </div>
                <div class="column">
                    <label for="age-input-signup"> Age </label>
                    <input class="input is-rounded" type="text" placeholder="Age" id="age-input-signup">
                </div>
            </div>
            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
                <div class="column is-half">
                    <label for="username-input-signup"> Username </label>
                    <input class="input is-rounded" type="text" placeholder="Username" id="username-input-signup">
                </div>
                <div class="column">
                    <label for="password-input-signup"> Password </label>
                    <input class="input is-rounded" type="text" placeholder="Password" id="password-input-signup">
                </div>
            </div>
            <div class="column-gap">
                <button id="cancelBtn" class="button">Cancel</button>
                <button type= "submit" id= "createaccount-btn" class="button">Create Account</button>
            </div>
        </form>
    </div>
    </div>
</section>
<script src="./js/createaccount.js"></script>