#grad {
    background-image: linear-gradient(aqua, blue, purple);
  }
    

.addNew {
    margin-left: 65%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.title {
    margin-left: 5%;
}

.topHeading {
    margin-top: 5%;
}

.habitBox {
    margin-left: 35%;
    margin-right: 35%;
}