#grad {
    background-image: linear-gradient(yellow, orange, red);
  }
    

.addNew {
    margin-left: 65%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.title {
    margin-left: 5%;
}

.topHeading {
    margin-top: 5%;
}