#grad {
    background-image: linear-gradient(yellow, orange, red);
  }
    

.newColor {
    background-color: red;
    border-width: 2px;
    border-color: black;
}


.cancelButton {

    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

.createAccount {

    margin-top: 5%;
    margin-left: 55%;
    /* margin-right: 10%; */


}


.title {
 margin-top: 20%;
 padding-bottom: 5%;
}